.desktop-container {
  margin: 0 auto;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 20px;
}
.container {
  padding: 20px;
  margin: 0 auto;
  height: 100%;
}
.card-container {
  margin: 0 auto;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 20px;
}
.mobile-container {
  margin: 0 auto;
  grid-auto-rows: auto;
  grid-gap: 20px;
  display: none;
}
.fav {
  color: red;
}
.unfav {
  color: white;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  // border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.35s linear infinite; /* Safari */
  animation: spin 0.35s linear infinite;
  margin: 0 auto;
  &.red {
    border-top-color: rgb(233, 75, 101);
  }
}

.cart-disabled {
  background-color: gray;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

//New Design
.section-container {
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1,
  h2,
  h3,
  h4 {
    place-self: center;
    text-align: right;
  }
}

.vertical-section {
  display: grid;
  grid-auto-flow: column;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  height: auto;
  grid-gap: 20px;
  & span {
    display: flex;
    flex-direction: column;
    position: relative;
    img {
      height: 170px;
      width: 120px;
      border-radius: 12px;
      position: relative;
    }
    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 0 5px 5px;
    }
  }
  p {
    margin: 0 6px 0 0;
    font-size: 13px;
    text-justify: inter-character;
    text-align: right;
    word-wrap: break-word;
  }
}

@media screen and (max-width: $break-small) {
  .container {
    grid-gap: 10px;
    margin-top: $header-size-mobile;
    margin-bottom: $footer-size-mobile;
  }
  .loader {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
  }
}
