@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');
* {
  font-family: vazir;
  text-align: center;
  direction: rtl;
}
a {
  color: inherit;
  text-decoration: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
@import 'variables';
@import 'movies';
@import 'movie';
@import 'search';
@import 'layouts';
